@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --navbar-height: 40px;
  --navbar-with-back-height: 77px;
  --container-px: 0.75rem;
}

html,
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
  color: #313638;
}

@layer base {
  pre {
    @apply font-notoSansTC;
    white-space: break-spaces;
  }
}
